<html lang="ko">
<head>
    <meta charset="UTF-8"> 
    <title>안심 카메라</title>
    <link rel="stylesheet" href="static/main.css">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>
<body>
    <h1 id="title">안심 카메라</h1>
<div class="buttons">
    <button type="button"id="record" onclick="location.href='/move'">기록 보기</button>
</div>  

<p class="typing-txt">뒤에 부모님 계신다.</p>
</body>

</html>